@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --light: 0;
  --max-width-post: 420px;
}

:root {
  --primary: hsl(
    calc(64 + 220 * var(--light)),
    calc(77% - 7% * var(--light)),
    calc(79% - 56% * var(--light))
  );

  --bg: hsl(
    calc(284 - 220 * var(--light)),
    calc(70% + 7% * var(--light)),
    calc(23% + 56% * var(--light))
  );

  --text-primary: hsl(
    calc(60 * var(--light)),
    calc(19% * var(--light)),
    calc(97% - 89% * var(--light))
  );

  --font-size-sm: clamp(0.7rem, 0.91vw + 0.47rem, 1.2rem);
  --font-size-base: clamp(0.88rem, 1.14vw + 0.59rem, 1.5rem);
  --font-size-md: clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem);
  --font-size-lg: clamp(1.37rem, 1.78vw + 0.92rem, 2.34rem);
  --font-size-xl: clamp(1.71rem, 2.22vw + 1.15rem, 2.93rem);
  --font-size-xxl: clamp(2.14rem, 2.77vw + 1.44rem, 3.66rem);
  --font-size-xxxl: clamp(2.67rem, 3.47vw + 1.8rem, 4.58rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  --container-padding-horizontal: 32px;
  position: relative;
  padding-inline: var(--container-padding-horizontal);
  display: grid;
  place-items: center;
  height: 100%;
}

.carousel {
  pointer-events: none;
  position: absolute;
  padding-block-start: 67px;
  padding-block-end: max(24px, calc(29px + var(--font-size-md)));
  perspective: 100px;
  width: 100%;
}

.carousel__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 61.2vh;
}

.carousel .item {
  position: absolute;
  max-width: 418px;
  height: 100%;
  margin-inline: var(--container-padding-horizontal);
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel-animate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

/* ... Rest of the CSS code ... */
